<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-xl-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <div class="mb-3">
                <input formControlName="firstName" placeholder="First Name" class="form-control" required />
              </div>
              <div class="mb-3">
                <input formControlName="lastName" placeholder="Last Name" class="form-control" required />
              </div>
              <div class="mb-3">
                <input formControlName="email" placeholder="Email" type="email" class="form-control" required />
              </div>
              <div class="mb-3">
                <input formControlName="password" placeholder="Password" type="password" class="form-control" required />
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-success">Create Account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
