<div class="card">
  <div class="card-header">
    Users
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="text-center"> <!-- Add the Image column cell -->
            <div class="avatar avatar-md">
              <img class="avatar-img" [src]="defaultImageUrlBase + getRandomImageNumber() + '.jpg'" alt="{{ user.firstName }}">

              <span class="avatar-status bg-success"></span>
            </div>
          </td>
          <th scope="row">{{ user.firstName }} {{ user.lastName }}</th>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
